.nav{
    display:flex;
    background-color: rgb(26, 25, 25);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.nav-title {
    font-family: 'Roboto', sans-serif;
} 
.btn{
    background-color: rgb(136, 192, 214);
    color: white;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}
.active{
    color: white;
    font-weight: bolder;
}
a{
    text-decoration:none;
    color: lightgrey;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}