*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.us-flag {
    width: 600px;
    height: 400px;
    margin: 50px auto;
    position: relative;
}

.stripe {
    height: 20px;
}

.stripe:nth-child(odd) {
    background: red;
}

.stripe:nth-child(even) {
    background: white;
}

.blue-box {
    height: 200px;
    width: 300px;
    background: blue;
    position: fixed;
}