* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 950px;
    background-color: silver;
    margin: 20px auto;
    padding: 5px;
}
.top-nav {
    height: 150px;
    width: 910px;
    background-color: green;
    margin: 20px;
    
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    padding: 12px;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin-right: 10px;
    
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 20px 0px 0px 0px;
}
